@charset "UTF-8";

article {
	width: 100%;
	height: auto;
	min-height: calc(100% - 302px);
	margin: 10px 0 10px 0;
}



div.headline1 a img {
	transition: all 0.2s ease 0s;
}
div.headline1 a img:hover {
	transform: scale(1.009, 1.009);
}
div.headline1 a img:active {
	transition: none;
	transform: none;
}



div.headline1:nth-child(1) {
	float: left;
	width: 420px;
	height: 350px;
	margin-bottom: 20px
}
div.headline1:nth-child(1):active {
	transform: scale(.995, .995);
}
div.headline1:nth-child(1) a img {
	float: left;
	border: solid 1px silver;
}
div.headline1:nth-child(1) a div {
	background: transparent;
		background:-webkit-linear-gradient(#000, transparent, #000);
		background:-o-linear-gradient(#000, transparent, #000);
		background:-moz-linear-gradient(#000, transparent, #000);
		background:linear-gradient(#000, transparent, #000);
	position: relative;
	width: 100%;
	height: 100%;
}
div.headline1:nth-child(1) a div h2,
div.headline1:nth-child(1) a div p {
	float: left;
	color: #FFF;
}
div.headline1:nth-child(1) a div h2 {
	background: transparent;
	position: absolute;
	font-size: 2.2em;
	width: 100%;
	padding: 7px 0 0 15px;
	font-family: Eraslightitc;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
div.headline1:nth-child(1) a div h2:hover {
	text-shadow: -1px -1px 10px gray;
}
div.headline1:nth-child(1) a div p {
	position: absolute;
	font-size: 1.6em;
	bottom: 0;
	height: auto;
	margin: 0 0 10px 15px;
	text-align: justify;
	line-height: 1.3;
	width: calc(100% - 30px);
	text-shadow: -1px -1px black;
}
div.headline1:nth-child(1) a div p:hover {
	text-decoration: underline;
}







div.headline1:nth-child(2),
div.headline1:nth-child(3) {
	display: grid;
	grid-template-columns: 205px calc(100% - 205px);
	grid-template-rows: 168px;
	float: right;
	width: calc(100% - 430px);
	border: solid 1px silver;
	margin-bottom: 10px;
	cursor: pointer;
}
div.headline1:nth-child(2) a,
div.headline1:nth-child(3) a {
	grid-column: 1/2;
	grid-row: 1/2;
	
}
div.headline1:nth-child(2) a img,
div.headline1:nth-child(3) a img {
	grid-column: 1/2;
	grid-row: 1/2;
	border-right: solid 1px silver;
}
div.headline1:nth-child(2) div,
div.headline1:nth-child(3) div {
	grid-column: 2/2;
	grid-row: 1/2;
	width: 100%;
	height: 100%;
	padding-bottom: 6px;

}
div.headline1:nth-child(2) div h2,
div.headline1:nth-child(3) div h2 {
	background-color: #F7F7F7;
	width: 100%;
	height: 32px;
	font-family: Eraslightitc;
    font-size: 2em;
	font-weight: bold;
    color: maroon;
	padding-left: 10px;
	border-bottom: solid 1px silver;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
div.headline1:nth-child(2) div h2:hover,
div.headline1:nth-child(3) div h2:hover {
	color: firebrick;
}
div.headline1:nth-child(2) div h2:active,
div.headline1:nth-child(3) div h2:active {
	color: #3359cc;
}
div.headline1:nth-child(2) div div.container-cheat-p,
div.headline1:nth-child(3) div div.container-cheat-p {
	background-color: #FFF;
	padding: 8px 10px;
	height: calc(100% - 33px);
	font-size: 1.4em;
	text-align: justify;
	line-height: 1.25;
	overflow: hidden;
	color: #777;
}

div.headline1:nth-child(2) div div.container-cheat-p p,
div.headline1:nth-child(3) div div.container-cheat-p p{
	margin-bottom: 0;
}
div.headline1:nth-child(2) div div.container-cheat-p:hover,
div.headline1:nth-child(3) div div.container-cheat-p:hover {
	color: #3359cc;
}
div.headline1:nth-child(2) div div.container-cheat-p:active,
div.headline1:nth-child(3) div div.container-cheat-p:active {
	color: darkblue;
}







@media (min-width: 701px) and (max-width: 900px) {
	div.headline1:nth-child(1) {
		width: 320px;/**/
		height: 267px;/**/
	}
	div.headline1:nth-child(1) a div h2 {
		font-size: 1.8em;
	}
	div.headline1:nth-child(1) div p span {
		display: none;
	}
	
	
	
	div.headline1:nth-child(2),
	div.headline1:nth-child(3) {
		grid-template-columns: 156px calc(100% - 156px);
		grid-template-rows: 128px;
		width: calc(100% - 327px);/**/
		margin-bottom: 7px/**/
	}
	div.headline1:nth-child(2) div div.container-cheat-p,
	div.headline1:nth-child(3) div div.container-cheat-p {
		padding: 5px 10px;
	}
}




@media (min-width: 1001px) and (max-width: 1200px) {
	div.headline1:nth-child(1) {
		width: 320px;/**/
		height: 267px;/**/
	}
	div.headline1:nth-child(2),
	div.headline1:nth-child(3) {
		grid-template-columns: 156px calc(100% - 156px);
		grid-template-rows: 128px;
		width: calc(100% - 327px);/**/
		margin-bottom: 7px/**/
	}
}














/* HEADLINE 2 */
div#container-headline2 {
	width: 100%;
	display: grid;
	padding: 10px 0;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
	grid-template-columns: 23% auto auto 23%;
	grid-template-rows: 150px;
	grid-gap: 2%;
}
div#container-headline2 a {
	text-decoration: none;
}

div#container-headline2 a h2 {
	height: 33px;
	color: maroon;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
	text-align: center;
	line-height: 28px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
div#container-headline2 a p {
	background-color: #FFF;
	padding-top: 10px;
	font-size: 1.6em;
	text-align: center;
	font-weight: bold;
	line-height: 1.4;
	color: #555;
	height: calc(100% - 30px);
	border-top: solid 1px silver;
	overflow: hidden;
}
div#container-headline2 a p:hover {color: #3359cc}
div#container-headline2 a p:active {color: darkblue}

@media (max-width: 460px) {
	div#container-headline2 a h2 {
		background-color: #F1F1F1;
		height: 30px;
	}
	div#container-headline2 {
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto;
		grid-gap: 12px;
	}
	div#container-headline2 a {
		border: solid 1px silver;
		
	}
	div#container-headline2 a p {
		background-color: #FFF;
		padding-bottom: 10px;
		
	}
}
@media (min-width: 461px) and (max-width: 600px) {
	div#container-headline2 {
		grid-template-columns: 48% auto;
		grid-template-rows: 150px 150px;
		grid-gap: 3%;
	}
}
@media (min-width: 601px) and (max-width: 800px) {
	div#container-headline2 {
		grid-template-columns: 48% auto;
		grid-template-rows: 120px 120px;
		grid-gap: 3%;
	}
}










div#container-ads-section-rodape {
	background: url("../../imagens/adsense/ads-fundo-vazio.jpg") no-repeat;
	background-position: center;
	float: left;
	width: 100%;
	height: 150px;
	padding-top: 12px;
	border: solid 1px silver;
}


